.container-fluid {
    background: rgba(50, 70, 109, 0.918);
    outline: .1px double black;
    padding: 5%;
}

.jumbotron {
    background-image: url("./background.jpg");
    background-size: 100%;
    background-repeat:no-repeat;
    display: compact;
    color: rgb(184, 187, 201);
}

.blockquote{
    color: rgb(184, 187, 201);
    text-align: center;
}

h2 {
    text-align: center;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

.span6 {
  style="float: none;
  margin: 0 auto;
}